body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	display: flex;
}
.container .left {
	width: 50%;
	height: 100%;
	background-color: #CDDC39;
	color: #FFFFFF;
}
.container .right {
	width: 50%;
	height: 100%;
	background: url(hero.jpg);
	background-size: 100%;
}
.container .left .content {
	margin: auto;
	width: 75%;
	text-align: center;
}
.container .left .logo {
	margin-top: 100px;
	width: 250px;
	height: 250px;
}
.container .left h1 {
	font-size: 6em;
}
.container .left .button {
	margin: auto;
	font-size: 20px;
	display: inline-block;
	padding: 15px 25px;
	background-color: #00897B;
	border-radius: 15px;
	text-decoration: none;
	color: #FFFFFF;
}
