@keyframes electronic {
	
	0%, 100% {
		background-position: 20px -30px;
	}
	25% {
		background-position: 150px 5px;
	}
	50% {
		background-position: 20px 40px;
	}
	75% {
		background-position: -100px 5px;
	}
	
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}
.container {
	display: flex;
}
.container .left {
	width: 50%;
	height: 100%;
	background-color: #CDDC39;
	color: #FFFFFF;
}
.container .right {
	width: 50%;
	height: 100%;
	background: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.container .left .content {
	margin: auto;
	width: 75%;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
}
.container .left .logo {
	margin-top: 100px;
	width: 200px;
	height: 200px;
}
.container .left h1 {
	margin: 40px;
	font-size: 6em;
	color: #0097A7;
	text-shadow: 6px 6px #FFFFFF;
}
.container .left .button {
	margin: auto;
	font-size: 20px;
	display: inline-block;
	padding: 10px 25px;
	background-color: transparent;
	border-radius: 15px; 
	text-decoration: none;
	color: #0097A7;
	border: 2px dashed #0097A7;
}
.container .left .button:hover {
	background-color: #0097A7;
	border: 2px solid #0097A7;
	color: #FFFFFF;
}

@media (max-width: 1280px) {
	.container .left {
		width: 100%;
	}
	.container .right {
		display: none;
	}	
}
